<div class="row">
  <div class="col-xs-12 col-sm-6" *ngIf="statuses">
    <div class="form-group">
      <label for="sel1">Filter by status:</label>
      <select class="form-control" name="sel" [(ngModel)]="selectedStatus">
      <option [ngValue]="undefined"></option>
      <option *ngFor="let status of statuses" [ngValue]="status">
        {{status.name}}
      </option>
    </select>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <form class="form-group" id="filter">
      <label>Filter users by name:</label>
      <input type="text" class="form-control" [(ngModel)]="term" name="term" [ngModelOptions]="{standalone: true}" />
    </form>
  </div>
</div>

<div *ngIf="users">
  <table class="table">
    <tbody>
    
        <tr *ngFor="let user of users | filter:term:selectedStatus">
          <td id="{{user.id}}" [ngClass]="{'table-danger': user.status == dangerstatus}">{{ user.username }} ({{ user.status }})</td>
        </tr>
      
    </tbody>
  </table>
</div>